html {
	height: 100%;
}
body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #000;
	height: 100%;
	background-color: #ddd;
	border-top: 3px solid #066fe5;
	box-sizing: border-box;
}