@import url(https://fonts.googleapis.com/css?family=Megrim|Rajdhani&subset=latin,latin-ext);
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

body {
	font-family: Rajdhani;
}
#header {
	height: 100px;
	background-color: #eee;
	color: #444;
	font-family: 'Major Mono Display';
	text-transform: lowercase;
	font-size: 55px;
	line-height: 100px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
	text-transform: lowercase;
}
#header a {
	text-decoration: none;
	color: #000;
}
#projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 40px;
}
#projects::-webkit-scrollbar { 
    display: none; 
}
.project {
	background-color: #fafafa;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	width: 300px;
	margin: 20px;
}
.cover {
	width: 300px;
	max-height: 200px;
	padding: 10px 10px 0px 10px;
}
.cover img {
	width: 280px;
	display: block;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.content {
	padding: 20px;
	font-size: 20px;
	text-align: left;
}
.title {
	font-size: 30px;
	font-weight: bold;
}
.title img {
	width: 20px;
	opacity: 0.3;
}
.title img:hover {
	opacity: 1;
}
.description {
	color: #222;
	padding-left: 10px;
}
.technologies {
	margin-top: 10px;
}
.technologies span {
	font-weight: bold;
}
.technologies ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.technologies ul li {
	padding-left: 10px;
	font-size: 20px;
}