@import url(https://fonts.googleapis.com/css?family=Megrim|Rajdhani&subset=latin,latin-ext);
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

body {
	font-family: Rajdhani;
}
#header {
	background-color: #eee;
	color: #444;
	font-family: 'Major Mono Display';
	text-transform: lowercase;
	font-size: 5rem;
	line-height: 5rem;
	box-shadow: 0 0.05rem 0.25rem rgba(0, 0, 0, 0.5);
	padding: 2rem 0;
	text-transform: lowercase;
}
#header a {
	text-decoration: none;
	color: #000;
}
#projects {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2rem;
}
#projects::-webkit-scrollbar { 
    display: none; 
}
.project {
	background-color: #fafafa;
	box-shadow: 0.05rem 0.05rem 0.25rem rgba(0, 0, 0, 0.5);
	margin: 1rem;
}
.cover {
	padding: 2rem 2rem 0px 2rem;
}
.cover img {
	width: 100%;
	display: block;
	box-shadow: 0.05rem 0.05rem 0.25rem rgba(0, 0, 0, 0.5);
}
.content {
	padding: 2rem;
	font-size: 2.5rem;
	text-align: left;
}
.title {
	font-size: 3.5rem;
	font-weight: bold;
}
.title a {
	color: #000;
	text-decoration: none;
}
.title img {
	width: 2.5rem;
	opacity: 0.3;
}
.title img:hover {
	opacity: 1;
}
.description,
.technologies ul li {
	color: #222;
	padding-left: 1rem;
}
.technologies {
	margin-top: 0.5rem;
}
.technologies span {
	font-weight: bold;
}
.technologies ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media (min-width: 1050px) {
	#header {
		font-size: 2.8rem;
		padding: 0;
	}
	#projects {
		flex-direction: row;
	}
	.project {
		width: 15rem;
	}
	.cover {
		width: 15rem;
		max-height: 10rem;
		padding: 0.5rem 0.5rem 0px 0.5rem;
	}
	.cover img {
		width: 14rem;
	}
	.content {
		padding: 1rem;
		font-size: 1rem;
	}
	.title {
		font-size: 1.5rem;
	}
	.title img {
		width: 1rem;
	}
	.description,
	.technologies ul li {
		padding-left: 0.5rem;
	}
}