@import url(https://fonts.googleapis.com/css?family=Megrim);
html {
	height: 100%;
}
body {
	margin: 0px;
	text-align: center;
    height: 100%;
    font-size: 60px;
    font-family: Megrim, sans-serif;
    background-color: #eee;
    display: grid;
    border-top: 5px solid #066fe5;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
    transition-duration: 1.5s;
}
#content {
    position: absolute;
    width: 100%;
    top: 45%;
    transform: translateY(-50%);
}
#header {
    font-size: 80px;
    margin-bottom: 30px;
}
#links a {
    color: #444;
}
#links a:hover {
	transition-duration: 0.2s;
	color: #BA0009;
}